name: Acquire activation file
on:
    workflow_dispatch: {}
jobs:
    activation:
        name: Request manual activation file
        runs-on: ubuntu-latest
        steps:
            # Request manual activation file
            - name: Request manual activation file
              id: getManualLicenseFile
              uses: game-ci/unity-request-activation-file@v2
            # Upload artifact (Unity_v6000.0.49f1.alf)
            - name: Expose as artifact
              uses: actions/upload-artifact@v2
              with:
                  name: ${{ steps.getManualLicenseFile.outputs.filePath }}
                  path: ${{ steps.getManualLicenseFile.outputs.filePath }}
